


<!-- Start of Footer -->
<footer id="footer-wrapper">
	<div id="footer" class="container">
		<div class="row">

			<div class="col-lg-4">
				<section class="widget">
					<h3 class="title">企业宗旨</h3>
					<div id="twitter_update_list">
						<ul>
							<li>发掘西夏美食</li>
							<li>弘扬西夏美食文化</li>
						</ul>
					</div>
				</section>
			</div>

			<div class="col-lg-4">
				<section class="widget">
					<h3 class="title">联系我们</h3>
					<div class="flickr-photos" id="basicuse"></div>
					<div id="twitter_update_list">
						<ul>
							<li>联系电话：132-6310-3400</li>
							<li>联系电话：136-8131-7855</li>
							<li>网址：www.xixiategong.com</li>
						</ul>
					</div>
				</section>
			</div>


			<div class="col-lg-4">
				<section class="widget">
					<h3 class="title">扫一扫，关注我们微信</h3>
					<img src="/static/img/QR_Code.jpeg" alt="西夏特贡" width="150px">
				</section>
			</div>


		</div>
	</div>
	<!-- end of #footer -->

	<!-- Footer Bottom -->
	<div id="footer-bottom-wrapper">
		<div id="footer-bottom" class="container">
			<div class="row">
				<div class="span6">
					<p class="copyright">西夏特贡餐饮文化有限公司 © 2017. made in Bob</p>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Footer Bottom -->

</footer>
<!-- End of Footer -->

<a href="#top" id="scroll-top"></a>

<script src="/static/jquery/jquery-3.0.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src='/static/js/custom.js'></script>

</body>
</html>