
	<!-- Start of Header -->
	<div class="header-wrapper">
		<header>
			<div class="container">
				<div class="logo-container">
					<!-- Website Logo -->
					<a href="index-2.html"> <img src="/static/img/logo.png"
						alt="Knowledge Base Theme">
					</a> <span class="tag-line">西夏特贡餐饮文化有限公司</span>
				</div>

				<!-- Start of Main Navigation -->
				<nav class="main-nav">
					<div class="menu-top-menu-container">
						<ul id="menu-top-menu" class="clearfix">
							<li class="current-menu-item"><a href="/">首页</a></li>
							<li><a href="/hobby">企业介绍</a></li>
							<li><a href="#">美味爆料</a>
								<ul class="sub-menu">
									<li><a href="/jindian">金典菜肴</a></li>
									<li><a href="/xiaochi">特色小吃</a></li>
								</ul></li>
							<li><a href="contact.html">西夏风情</a></li>
							<li><a href="contact.html">新闻咨询</a></li>
							<li><a href="contact.html">豪礼相送</a></li>
							<li><a href="contact.html">其它品牌</a></li>
							<li><a href="contact.html">其它</a></li>
						</ul>
					</div>
				</nav>
				<!-- End of Main Navigation -->

			</div>
		</header>
	</div>
	<!-- End of Header -->

	<!-- Start of Search Wrapper -->
	<div class="search-area-wrapper">
		<div class="search-area container">
			<h3 class="search-header">Have a Question?</h3>
			<p class="search-tag-line">If you have any question you can ask
				below or enter what you are looking for!</p>
			<form id="search-form" class="search-form clearfix" method="get"
				action="#" autocomplete="off">
				<input class="search-term required" type="text" id="s" name="s"
					placeholder="Type your search terms here"
					title="* Please enter a search term!" /> <input class="search-btn"
					type="submit" value="Search" />
				<div id="search-error-container"></div>
			</form>
		</div>
	</div>
	<!-- End of Search Wrapper -->
	
	