<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>西夏特贡餐饮文化有限公司</title>
<link href="/static/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css?v=4.1.0" rel="stylesheet">
<link rel='stylesheet' id='bootstrap-css-css'
	href='/static/css/bootstrap.css?ver=1.0' type='text/css' media='all' />
</head>

<body>
	<!-- Start of Header -->
	<div class="header-wrapper">
		<header>
			<div class="container">
				<div class="logo-container">
					<!-- Website Logo -->
					<a href="index-2.html"> <img src="/static/img/logo.png"
						alt="Knowledge Base Theme">
					</a> <span class="tag-line">西夏特贡餐饮文化有限公司</span>
				</div>

				<!-- Start of Main Navigation -->
				<nav class="main-nav">
					<div class="menu-top-menu-container">
						<ul id="menu-top-menu" class="clearfix">
							<li><a href="/">首页</a></li>
							<li class="current-menu-item"><a href="/hobby">企业介绍</a></li>
							<li><a href="#">美味爆料</a>
								<ul class="sub-menu">
									<li><a href="/jindian">金典菜肴</a></li>
									<li><a href="/xiaochi">特色小吃</a></li>
								</ul></li>
							<li><a href="contact.html">西夏风情</a></li>
							<li><a href="contact.html">新闻咨询</a></li>
							<li><a href="contact.html">豪礼相送</a></li>
							<li><a href="contact.html">其它品牌</a></li>
							<li><a href="contact.html">其它</a></li>
						</ul>
					</div>
				</nav>
				<!-- End of Main Navigation -->

			</div>
		</header>
	</div>
	<!-- End of Header -->

	<!-- Start of Search Wrapper -->
	<div class="search-area-wrapper">
		<div class="search-area container">
			<h3 class="search-header">Have a Question?</h3>
			<p class="search-tag-line">If you have any question you can ask
				below or enter what you are looking for!</p>
			<form id="search-form" class="search-form clearfix" method="get"
				action="#" autocomplete="off">
				<input class="search-term required" type="text" id="s" name="s"
					placeholder="Type your search terms here"
					title="* Please enter a search term!" /> <input class="search-btn"
					type="submit" value="Search" />
				<div id="search-error-container"></div>
			</form>
		</div>
	</div>
	<!-- End of Search Wrapper -->

	<!-- Start of Page Container -->
	<div class="page-container">
		<div class="container">
			<div class="row">

				<!-- start of page content -->
				<div class="cl-gl-12 page-content">
					<!-- Basic Home Page Template -->
					<div class="row separator">
						<section class="cl-gl-12 articles-list">
							<h3>企业介绍</h3>
						</section>
						<img alt="" src="/static/img/qiyejieshao.jpg">
						<p style="padding: 15px">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;镇三关秉承公司经营管理的策略，自2014年起全面的品牌扩张，成为重庆火锅行业中被广泛认可的品牌，发展至今“重庆镇三关火锅”全国已有9个直营门店。重庆市内有“重庆北滨店、重庆人和店、重庆九滨店、重庆巴国城店、重庆永川店”，成都市内有“成都店、成都南门店”，以及“镇三关北京店”和“镇三关上海店”等。以独特的口味，精致的菜品，古色古香的装修，成为深受人们喜爱的传统老火锅。重庆镇三关餐饮文化有限公司营传统老火锅及火锅底料为主的现代品牌餐饮企业。旗下位于重庆市渝北区财富中心，是一家经的镇三关老火锅成立于2012年初。因创始人崇尚“忠、孝、仁、义”的杨家将精神，坚守 “绿色健康”的品牌宗旨，不添加任何香料添加剂，经过不断地尝试与创新，让“镇三关”达到既不失传统的麻、辣、鲜、香的风味，食后不燥又无异味留身的满意效果。
						</p>
					</div>
				</div>
				<!-- end of page content -->

			</div>
		</div>
	</div>
	<!-- End of Page Container -->

	<!-- Start of Footer -->
	<footer id="footer-wrapper">
		<div id="footer" class="container">
			<div class="row">

				<div class="col-lg-4">
					<section class="widget">
						<h3 class="title">企业宗旨</h3>
						<div id="twitter_update_list">
							<ul>
								<li>发掘西夏美食</li>
								<li>弘扬西夏美食文化</li>
							</ul>
						</div>
					</section>
				</div>

				<div class="col-lg-4">
					<section class="widget">
						<h3 class="title">联系我们</h3>
						<div class="flickr-photos" id="basicuse"></div>
						<div id="twitter_update_list">
							<ul>
								<li>联系电话：132-6310-3400</li>
								<li>联系电话：136-8131-7855</li>
								<li>网址：www.xixiategong.com</li>
							</ul>
						</div>
					</section>
				</div>


				<div class="col-lg-4">
					<section class="widget">
						<h3 class="title">扫一扫，关注我们微信</h3>
						<img src="/static/img/QR_Code.jpeg" alt="西夏特贡" width="150px">
					</section>
				</div>


			</div>
		</div>
		<!-- end of #footer -->

		<!-- Footer Bottom -->
		<div id="footer-bottom-wrapper">
			<div id="footer-bottom" class="container">
				<div class="row">
					<div class="span6">
						<p class="copyright">西夏特贡餐饮文化有限公司 © 2017. made in Bob</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Footer Bottom -->

	</footer>
	<!-- End of Footer -->

	<a href="#top" id="scroll-top"></a>

	<script src="/static/jquery/jquery-3.0.0.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src='/static/js/custom.js'></script>
</body>
</html>