<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>西夏特贡餐饮文化有限公司</title>
<link href="/static/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/style.css?v=4.1.0" rel="stylesheet">
<link rel='stylesheet' id='bootstrap-css-css'
	href='/static/css/bootstrap.css?ver=1.0' type='text/css' media='all' />

<link rel="stylesheet" type="text/css"
	href="/static/css/jquery.accordion.css">
</head>

<body>
	<!-- Start of Header -->
	<div class="header-wrapper">
		<header>
			<div class="container">
				<div class="logo-container">
					<!-- Website Logo -->
					<a href="index-2.html"> <img src="/static/img/logo.png"
						alt="Knowledge Base Theme">
					</a> <span class="tag-line">西夏特贡餐饮文化有限公司</span>
				</div>

				<!-- Start of Main Navigation -->
				<nav class="main-nav">
					<div class="menu-top-menu-container">
						<ul id="menu-top-menu" class="clearfix">
							<li><a href="/">首页</a></li>
							<li><a href="/hobby">企业介绍</a></li>
							<li class="current-menu-item"><a href="#">美味爆料</a>
								<ul class="sub-menu">
									<li><a href="/jindian">金典菜肴</a></li>
									<li><a href="/xiaochi">特色小吃</a></li>
								</ul></li>
							<li><a href="contact.html">西夏风情</a></li>
							<li><a href="contact.html">新闻咨询</a></li>
							<li><a href="contact.html">豪礼相送</a></li>
							<li><a href="contact.html">其它品牌</a></li>
							<li><a href="contact.html">其它</a></li>
						</ul>
					</div>
				</nav>
				<!-- End of Main Navigation -->

			</div>
		</header>
	</div>
	<!-- End of Header -->

	<!-- Start of Search Wrapper -->
	<div class="search-area-wrapper">
		<div class="search-area container">
			<h3 class="search-header">Have a Question?</h3>
			<p class="search-tag-line">If you have any question you can ask
				below or enter what you are looking for!</p>
			<form id="search-form" class="search-form clearfix" method="get"
				action="#" autocomplete="off">
				<input class="search-term required" type="text" id="s" name="s"
					placeholder="Type your search terms here"
					title="* Please enter a search term!" /> <input class="search-btn"
					type="submit" value="Search" />
				<div id="search-error-container"></div>
			</form>
		</div>
	</div>
	<!-- End of Search Wrapper -->

	<!-- Start of Page Container -->
	<div class="page-container">

		<div class="accordion">
			<ul class="">
				<li class="item1 active"><a href=""></a></li>
				<li class="item2"><a href=""></a></li>
				<li class="item3"><a href=""></a></li>
				<li class="item4"><a href=""></a></li>
				<li class="item5"><a href=""></a></li>
			</ul>
		</div>
	</div>
	<!-- end of page content -->



	<!-- End of Page Container -->

	<!-- Start of Footer -->
	<footer id="footer-wrapper">
		<div id="footer" class="container">
			<div class="row">

				<div class="col-lg-4">
					<section class="widget">
						<h3 class="title">企业宗旨</h3>
						<div id="twitter_update_list">
							<ul>
								<li>发掘西夏美食</li>
								<li>弘扬西夏美食文化</li>
							</ul>
						</div>
					</section>
				</div>

				<div class="col-lg-4">
					<section class="widget">
						<h3 class="title">联系我们</h3>
						<div class="flickr-photos" id="basicuse"></div>
						<div id="twitter_update_list">
							<ul>
								<li>联系电话：132-6310-3400</li>
								<li>联系电话：136-8131-7855</li>
								<li>网址：www.xixiategong.com</li>
							</ul>
						</div>
					</section>
				</div>


				<div class="col-lg-4">
					<section class="widget">
						<h3 class="title">扫一扫，关注我们微信</h3>
						<img src="/static/img/QR_Code.jpeg" alt="西夏特贡" width="150px">
					</section>
				</div>


			</div>
		</div>
		<!-- end of #footer -->

		<!-- Footer Bottom -->
		<div id="footer-bottom-wrapper">
			<div id="footer-bottom" class="container">
				<div class="row">
					<div class="span6">
						<p class="copyright">西夏特贡餐饮文化有限公司 © 2017. made in Bob</p>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Footer Bottom -->

	</footer>
	<!-- End of Footer -->

	<a href="#top" id="scroll-top"></a>
	<script src="/static/jquery/jquery-3.0.0.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".accordion").accordion();
		});
	</script>



	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src='/static/js/custom.js'></script>
	<script src="/static/js/jquery.accordion.js"></script>
</body>
</html>